* {
    padding: 0;
    margin: 0;
}

body {
    color: black;
}

table {
    border: 5px black;
    padding: 15px;
    margin-left: 20em;
    margin-top: 5em;
}

th,
td {
    text-align: center;
    padding: 10px;
    font-size: medium;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

ul li {
    float: left;
}



ul li div {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sel {
    background-color: purple;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 15px;
    margin-left: 70em;
}


h3 {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: flex;
}